/* mobile */


/* :root {
    --mobile_width: 739px;
    --tablet_width: 1023px;
    --pc_width: 1024px;
} */


/* mobile  */

@media only screen and (max-width: 46.1875em) {
    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }
    .nav {
        display: flex;
        min-width: 100%;
        min-height: 30em;
        flex: 3;
        border-radius: 0 0 30px 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav__list {
        display: inline-block;
        max-width: 1em;
    }
    .nav__title {
        margin-top: -7em;
    }
    .nav__content {
        padding: 1em;
    }
    .container {
        margin: auto;
        max-width: 6%;
        max-height: 70%;
        z-index: 11;
    }
    .switch {
        margin: auto;
        min-width: fit-content;
        margin-top: -15em;
    }
    .form-row {
        padding: 0;
        margin-left: 0;
        flex-direction: column;
        min-width: 2em;
    }
    .form__label {
        min-width: cover;
        font-size: 1em;
        margin-right: 4em;
    }
    .footer {
        margin-top: 2em;
    }
    .center-frame {
        max-width: 100%;
    }
    .login-frame {
        min-width: 100%;
    }
    .login-frame__label {
        min-width: 100%;
    }
    .btn {
        min-width: 100%;
    }
    .remember {
        min-width: 100%;
    }
    input[type=checkbox] {
        transform: scale(2);
    }
    #test--1 {
        display: inline-block;
        padding: 7px 15px;
        color: white;
        background-color: #1E90FF;
        font-family: "Poppins", sans-serif;
        border: 0;
        border-radius: 10px 0 0 10px;
        position: relative;
        transition: all 0.2s;
        z-index: 2;
    }
    #test--1::after {
        content: "";
        width: 50%;
        height: 99%;
        background: inherit;
        position: absolute;
        right: 0;
        top: 0;
        transform: skewX(-25deg) translateX(25%);
        border-radius: 0 10px 5px 0;
        z-index: -1;
    }
    #test--2 {
        display: inline-block;
        padding: 7px 15px;
        color: black;
        background-color: #E8E8E8;
        font-family: "Poppins", sans-serif;
        border: 0;
        border-radius: 10px 10px 10px 0;
        position: relative;
        margin-left: 3em;
        transition: all 0.2s;
        z-index: 2;
    }
    #test--2:active,
    #test--2:focus {
        color: white;
        background: #1E90FF;
    }
    #test--1:active,
    #test--1:focus {
        color: white;
        background: #1E90FF;
    }
    #test--2:after {
        content: "";
        width: 50%;
        height: 99%;
        background: inherit;
        position: absolute;
        left: -30px;
        top: 0;
        right: 0;
        transform: skewX(-25deg) translateX(25%);
        border-radius: 10px 0 0 5px;
        z-index: -1;
    }
}


/* table */

@media only screen and (min-width:46.1875em) and (max-width: 63.9375em) {
    .login-frame {
        min-width: 100%;
    }
    .notify-frame {
        min-width: 100%;
    }
    input[type=checkbox] {
        transform: scale(1.5);
    }
    .switch {
        margin: auto;
        min-width: fit-content;
        margin-top: 50px;
        margin-bottom: -60px;
        z-index: 55;
    }
    #test--1 {
        display: inline-block;
        padding: 15px 30px;
        color: white;
        background-color: #1E90FF;
        font-family: "Poppins", sans-serif;
        border: 0;
        border-radius: 10px 0 0 10px;
        position: relative;
        transition: all 0.2s;
    }
    #test--1::after {
        content: "";
        width: 50%;
        height: 99%;
        background: inherit;
        position: absolute;
        right: 0;
        top: 0;
        transform: skewX(-25deg) translateX(25%);
        border-radius: 0 10px 5px 0;
        z-index: -1;
    }
    #test--2 {
        display: inline-block;
        padding: 15px 30px;
        color: black;
        background-color: #E8E8E8;
        font-family: "Poppins", sans-serif;
        border: 0;
        border-radius: 10px 10px 10px 0;
        position: relative;
        margin-left: 35px;
        transition: all 0.2s;
    }
    #test--2:active,
    #test--2:focus {
        color: white;
        background: #1E90FF;
    }
    #test--1:active,
    #test--1:focus {
        color: white;
        background: #1E90FF;
    }
    #test--2:after {
        content: "";
        width: 50%;
        height: 99%;
        background: inherit;
        position: absolute;
        left: -30px;
        top: 0;
        right: 0;
        transform: skewX(-25deg) translateX(25%);
        border-radius: 10px 0 0 5px;
        z-index: -1;
    }
}

@media only screen and (min-width: 64em) {
    .nav {
        display: flex;
    }
    #test--1,
    #test--2 {
        display: none;
    }
}